* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
}
canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 522px;
  height: 753px;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

footer {
  font-family: monospace;
  width: 100%;
  color: white;
  font-size: 15px;
  margin-left: 5px;
  text-shadow: 1px 1px 1px #737373;
  position: absolute;
  bottom: 0;
  width: 95%;
  text-align: center;
  padding-bottom: 15px;
}
footer a {
  color: orangered;
}
